@font-face {
  font-family: 'igra_sansregular';
  src: url("igrasans-webfont.woff2") format("woff2"), url("igrasans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: 'igra_sansregular', serif; }
